    

    <div id="bk-image">
    </div>

    <div class="center mont">
      <h1> Welcome to TalleeUp </h1>
    </div>

    <div class="center mont2">
      <h3> Current Standings - San Francisco </h3>
    </div>

    <!-- Show the rankings for the top 5 burgers in table format: -->
    <table class="table .table-striped">
    	<tr>
    		<th>Burger name</th>
      	<th>Restaurant</th> 
      	<th class="center">Average score</th>
        <th class="center">Reviews</th>
    	</tr>
      <% @sorted.each do |burger| %>
      <tr>
        <td>
          <p class="lead"><%= link_to (burger.burger_name), burger_path(burger.id) %></p>
        </td>
        <td>
          <p class="lead"><%= link_to(burger.restaurant.name) %></p>
        </td>
        <td>
        	<p class="lead center"><%= burger.average_score %></p>
        </td>
        <td>
          <p class="lead center"><%= burger.num_reviews %></p>
        </td>
    </tr>
    <% end %>
    </table>

    <div class="center">
      <% if signed_in? %>
        <%= link_to "View Full Rankings", burgers_path %></br></br>  
        <%= link_to "Review a burger!", new_review_path, class: "btn btn-large btn-primary" %>
        <% else %>
          <%= link_to "View Full Rankings", signin_path %></br></br>  
          <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
          <%= link_to "Review a burger!", signin_path, class: "btn btn-large btn-primary" %>
      <% end %>
    </div>

 