<div id="bk-image">
</div>

<div class="center">
	<h1 class="mont">
		<%= @burger.burger_name %> - <%= @burger.restaurant.name %>
	</h1>
	<h4>
		Description: <%= @burger.description %>
	</h4>
	<h4>
		Notes: <%= @burger.special_notes %>
	</h4>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<table class="table table-bordered center-table mont5">
	  		<tr class="lead">  
	  			<td>Burger name</td>
	  			<td> <%= @burger.burger_name %> </tr>
				</tr>
				<tr class="lead">  
	  			<td class="mont5">Restaurant</td>
	  			<td> <%= @burger.restaurant.name %> </tr>
				</tr>
				<tr class="lead">  
	  			<td>Price</td>
	  			<td> $<%= @burger.price %>0</tr>
				</tr>
				<tr class="lead">  
	  			<td>Protein type</td>
	  			<td> <%= @burger.protein %></tr>
				</tr>
				<tr class="lead">  
	  			<td>Bun type</td><td> <%= @burger.bun_type %></tr>
				</tr>
				<tr class="lead">  
	  			<td>Grass-fed</td><td> <%= @burger.grass_fed %></tr>
				</tr>
				<tr class="lead">  
	  			<td>Gluten-free available</td><td> <%= @burger.gluten_free %></tr>
				</tr>
				<tr class="lead">  
	  			<td>Organic toppings</td><td> <%= @burger.organic_toppings %> </td>
				</tr>
				<tr class="lead">  
	  			<td>Nitrate-free bacon</td><td> <%= @burger.NitrateFreeBacon %> </td>
				</tr>
			</table>
		</div>
	</div>
</div>


<!-- FOOTER -->
<div class="center">
	<br />
<%= link_to "Review a burger!", new_review_path, class: "btn btn-large btn-primary" %>
</div>
