<div id="bk-image">
</div>



<h1 class="center mont">Sign in</h1>

<div class="container">
  <div class="row">
    <div class="col-md-12 center">
       <%#= form_for(@user, :html => {:class => "center", :id => "new-user-form"}) do |f| %>
      <%= form_for(:session, url: sessions_path, :html => {:class => "center-user-form"}) do |f| %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
      <% end %>

      <p class="mont4">New user? <%= link_to "Sign up now!", signup_path %></p>

    </div>
  </div>
</div>