<div class="row">
  <aside class="span4">
<%= gravatar_for @user %>
<ul>
	<li><%= @user.first_name %></li>
	<li><%= @user.last_name %></li>
	<li><%= @user.email %></li>
	<li><%= @user.twitter %></li>
</ul>
  </aside>
</div>
