<!-- This page displays the search results from the Yelp! API. It lists each restaurant with a radio button. The user selects the restaurant they want added to the database. In addition to the name, the remaining details (city, state, zip, phone etc) would get passed in from Yelp! as hidden attributes. This may not comply with Yelp! API terms of service, but I will change it in the future to instead store the Yelp! ID. This page also needs a field added so the user can specify which burger they ate. With the restaurant and burger name added to the database, the user can now review a burger that was not previously in the system. 

The list is currently limited to 5 results, which can be changed on the search controller for restaurants. -->

<div class="restaurant">
	<table class="table .table-striped">
		<caption class="restaurant_table">Add Restaurant</caption>
			<%= form_for(@restaurant) do |f| %>
				<% @response.businesses.each do |business| %>
				<tr>
					<td>
						<%= radio_button_tag(:name, business.name) %>
						<%= f.hidden_field :city, :value =>business.location.city %>
						<%= label_tag(:name, business.name) %>
					</td>
				</tr>
			<% end %>
	</table>
  			<%= f.submit "Add Restaurant", class: "btn btn-large btn-primary" %>
    	<% end %>
	</div>




