<h1> results.html.erb </h1>

<%= @response.businesses %>/</br></br>
<%#= @response.businesses["name"] %></br></br>

<%= @response.businesses[0].name %></br></br>

<div class="row">
	<div class="col-xs-6">
		<%= form_for(@restaurant) do |f| %>

  		<%= radio_button_tag(:name, "child") %>
			<%= label_tag(:name, @response.businesses[0].name) %>

  		<%= f.submit "Add Restaurant", class: "btn btn-large btn-primary" %>
    <% end %>
	</div>
</div>