<div class="center">
<h1> Submit Review </h1>
</div>




<%= form_for @burger do |f| %>

  <%= f.label :restaurant_id, 'Restaurant' %><br />
  <%= f.collection_select :restaurant_id, Restaurant.order(:name), :id, :name, include_blank: true %>

  <%#= f.label :burger_name %><br />
  <%#= f.collection_select :burger_name, Burger.order(:burger_name), :id, :burger_name, include_blank: true %>

  <%= f.label :burger_name %><br />
  <%= f.grouped_collection_select :burger_name, Restaurant.order(:name), :burgers, :name, :id, :burger_name, include_blank: true %>

<%= f.submit %>
<% end %>

