<h1> Submit Review </h1>

<h4>Select a restaurant from the system</h4>

<!-- Restaurant drop down -->
  <%= form_for @restaurant, method: "post" do |f| %>
    <%= f.label :name %></br>
    <% restaurants = Restaurant.all.map {|restaurant| [restaurant.name, restaurant.id] }%>
    <%= f.select(:name, restaurants)  %> </br>
    <%#= f.submit "Add Restaurant", class: "button" %>
  <% end %>

	<%= form_for(@review) do |f| %>
		
    <%= f.label :burger_name, "Burger" %></br>
    <% burgers = Burger.all.map {|burger| [burger.burger_name, burger.id] }%>
    <%= f.select(:burger_id, burgers)  %> </br>

 <p>Can't find your burger? Add it <%= link_to "here.", new_restaurant_path %></br></br>

  <div class="row">
  <div class="col-xs-2">
			<%= f.label :patty %>
    	<%= f.select :patty, [ 0, 0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5 ], :prompt => 'Select One' %>

    	<%= f.label :bun %>
    	<%#= f.text_field :bun %></br>
      <%= f.select :bun, [ 0, 0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5 ], :prompt => 'Select One' %>

      <%= f.label :bun_patty_ratio %>
      <%= f.select :bun_patty_ratio, [ 0, 0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5 ], :prompt => 'Select One' %>

      <%= f.label :toppings %>
      <%= f.select :toppings, [ 0, 0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5 ], :prompt => 'Select One' %>

      <%= f.label :side %>
      <%= f.select :side, [ 0, 0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5 ], :prompt => 'Select One' %>

      <%= f.label :service %>
      <%= f.select :service, [ 0, 0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5 ], :prompt => 'Select One' %>
  </div>
</div>

      <%= f.label :comments %>
      <%= f.text_area :comments %></br>

      <%= f.submit "Submit Review", class: "btn btn-large btn-primary" %></br></br>
<% end %>

