<h1> Submit Review </h1>

<h4>Select a restaurant from the system</h4>
  <%= form_for @restaurant, method: "post" do |f| %>
    <%= f.label :name %></br>
    <% restaurants = Restaurant.all.map {|restaurant| [restaurant.name, restaurant.id] }%>
    <%= f.select(:name, restaurants)  %> </br></br>
    <%#= f.submit "Add Restaurant", class: "button" %>
  <% end %>

<%= form_for @burger, method: "post" do |f| %>
    <%= f.label :burger_name %></br>
    <% burgers = Burger.all.map {|burger| [burger.burger_name, burger.id] }%>
    <%= f.select(:burger_name, burgers)  %> </br></br>
    <%#= f.submit "Add Burger", class: "button" %>
  <% end %>

  <p>Can't find your burger? Add it <%= link_to "here.", new_restaurant_path %>

<!-- Scorecard for reviewing burger -->
<!-- <div class="row"> -->
  <div class="form-horizontal">
		<%= form_for(@review) do |f| %>
		
			<%= f.label :patty %>
    	<%= f.number_field :patty %></br>

    	<%= f.label :bun %>
    	<%= f.text_field :bun %></br>

      <%= f.label :bun_patty_ratio %>
      <%= f.text_field :bun_patty_ratio %></br>

      <%= f.label :toppings %>
      <%= f.text_field :toppings %></br>

      <%= f.label :side %>
      <%= f.text_field :side %></br>

      <%= f.label :service %>
      <%= f.text_field :service %></br>

    	<%= f.submit "Submit Review", class: "btn btn-large btn-primary" %></br></br>
		<% end %>
  </div>
<!-- </div> -->
